ul, li, p{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a, img, p{
	border: none;
	cursor: pointer;
	text-decoration: none;
}

li{
	border-bottom: 1px solid #2B8412;
	padding-bottom: 4px;
}

p{
	height: 30px;
	line-height: 30px;
	background: #4F8422;
	border-top: 1px solid black;
	text-indent: 2em;
	color: white;
}

span{
	display: inline-block;
	text-indent: 2em;
	margin-right: 2px;
}

a{
	display: inline-block;
	margin-right: 10px;
	margin-left: 4px;
	color: #2B8412;
	display: none;
}

input{
	margin-left: 30px;
	display: none;
}