body, ul, li, div, p, h1, h2{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a{
	text-decoration: none;
}

body{
	background: url(../img/background.png) repeat-x white;
}
/*	上述内容为reset all样式    */

#Top{
	width:960px;
	height: 30px;
	background-color: black;
	margin:0 auto;
}

.Top_menu{
	height: 30px;
	float: left;
}

.Top_menu li{
	height: 30px;
	float: left;
	line-height: 30px;
	background: url(../img/top-background.png) no-repeat right 14px;
	padding-right: 18px;
	padding-left: 15px;
}

.Top_menu .No_dot{
	background-image: none;
}

.Top_menu a{
	font-size: 10px;
	color: #c0c0c0;
}

.Top_bar{
	height: 30px;
	float: right;
	overflow: hidden;
	position: relative;
}

.Top_menu a:hover{
	text-decoration: underline;
	color: white;
}

.Top_bar a{
	font-size: 10px;
	color: #c0c0c0;
}

.Top_bar li{
	height: 30px;
	float: right;
	line-height: 30px;
}

.Top_bar .Phone{
	background: url(../img/top-background.png) no-repeat left -18px;
	padding-left: 30px;
	padding-right: 34px;
	font-weight: bold;
	font-size: 13px;
}

.Top_bar .Phone a, .Top_bar .Help a{
	font-family: Arial;
}

.Top_bar .Help{
	background: url(../img/top-background.png) no-repeat left -46px;
	padding-left: 35px;
	padding-right: 63px;
	font-weight: bold;
	font-size: 13px;
}

.Top_bar a{
	color: white;
	font-family: "微软雅黑";
}

.Top_bar .Canadaflag img{
	position: absolute;
	right: 34px;
	top: 10px;
}

.Top_bar .Help a:hover{
	text-decoration: underline;
}
/*	以上为Top样式	*/

#Header{
	width: 960px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	background: url(../img/light.png) no-repeat;
}

.Header_Shoppingcart{
	background: url(../img/shoppingcart.png) no-repeat left 7px;
	height: 100px;
}

.Header_Shoppingcart p{
	margin-left: 83px;
	padding-top: 30px;
	font-size: 20px;
	font-family: Arial;
	color: #fff;
}

.Header_Shoppingcart a{
	background: url(../img/shoppingcart.png) no-repeat 0 -100px;
	display: block;
	width: 114px;
	height: 23px;
	position: absolute;
	left: 103px;
	bottom: 13px;
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
	color: #ffc200;
	text-align: center;
	line-height: 23px;
}

.Header_Shoppingcart a:hover{
	color: #ffde75;
}

#Header h1{
	width: 219px;
	height: 100px;
	background: url(../img/subject.png) no-repeat;
	position: absolute;
	left: 367px;
	top: 24px;
}

.Header_Search{
	position: absolute;
	right: 0;
	top: 33px;
	width: 292px;
	height: 31px;
	background: url(../img/search.png) no-repeat;
}

.Header_Search .Search_text{
	position: absolute;
	left: 0;
	top: 0;
	background: none;
	border: none;
	width: 250px;
	height: 31px;
	padding-left: 21px;
	font-size: 13px;
	font-family: Arial;
	color: #666;
	outline: none;
}

.Header_Search .Search_button{
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	border: none;
	width: 42px;
	height: 31px;
	outline: none;
}

.Header_Search .Search_button:hover{
	position: absolute;
	right: 0;
	top: 0;
	background:url(../img/search.png) no-repeat -250px -31px;
	border: none;
	width: 42px;
	height: 31px;
	outline: none;
}

.Header_Search .Search_button:active{
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	border: none;
	width: 42px;
	height: 31px;
	outline: none;
}

/*	以上是Header样式	*/

#Nav{
	width: 960px;
	height: 44px;
	position: relative;
	margin: 0 auto;
}

#Nav li{
	float: left;
	height: 30px;
	position: absolute;
	top: 8px;
}

#Nav a{
	float: left;
	height: 30px;
	font-size: 15px;
	font-family: Arial;
	color: #fff;
	text-align: center;
	line-height: 30px;
	margin-left: 8px;
}

#Nav strong{
	font-weight: normal;
	float: left;
	height: 30px;
}

#Nav span{
	float: left;
	height: 30px;
	padding: 0 16px;
}

#Nav a:hover, #Nav .Nav_now{
	background: url(../img/naviationbackground.png) repeat-x 0 -60px;
}

#Nav a:hover strong, #Nav .Nav_now strong{
	background: url(../img/naviationbackground.png) no-repeat right -30px;
}

#Nav a:hover span, #Nav .Nav_now span{
	background: url(../img/naviationbackground.png) no-repeat left 0;
}
/*	以上为Naviation样式	*/

#Content{
	position: relative;
	width: 1000px;
	margin: 24px auto 0;
	background: url(../img/contentbackground.png) repeat-y -1000px;
}

#Content .Content_top{
	width: 1000px;
	background: url(../img/contentbackground.png) no-repeat;
}

#Content .Content_bottom{
	width: 1000px;
	background: url(../img/contentbackground.png) no-repeat -2000px bottom;
}

#Content .Content_bottom ul{
	position: absolute;
	width: 960px;
	left: 20px;
}

#Content .Content_banner_bottom{
	width: 940px;
	height: 52px;
	background: url(../img/bannerbottom.png) no-repeat;
	/*opacity: 0.5;
		建议用设计师做的图，如果使用不透明度，需要调整父元素标签位置，使其跟不需要透明度的子元素标签同级
	*/

	/*-webkit-filter: alpha(opacity= 50);
	-o-filter: alpha(opacity= 50);
	filter: alpha(opacity= 50);
	兼容IE5 IE6
	*/
	position: absolute;
	top: 248px;
	left: 30px;
}

#Content .Content_bottom a{
	display: block;
}

#Content .Content_banner_bottom .Content_banner_title{
	font-size: 25px;
	font-weight: bold;
	line-height: 52px;
	font-family: Arial;
	color: #ffc600;
	position: absolute;
	top: 2px;
	left: 34px;
}

#Content .Content_banner_text{
	font-size: 13px;
	color: #ffcccc;
	font-family: Arial;
	line-height: 17px;
	width: 630px;
	position: absolute;
	top: 13px;
	right: 13px;
}

#Content .Content_banner_bottom .Content_banner_title:hover{
	font-size: 25px;
	font-weight: bold;
	line-height: 52px;
	font-family: Arial;
	color: #fff000;
	position: absolute;
	top: 2px;
	left: 34px;
	text-decoration: underline;
}

#Content .Content_banner_bottom .Content_banner_text:hover{
	font-size: 13px;
	color: #fff;
	font-family: Arial;
	line-height: 17px;
	width: 630px;
	position: absolute;
	top: 13px;
	right: 13px;
	text-decoration: underline;
}
	/*	以上内容是Content_banner样式		*/

