.directory{
	width: 366px;
	height: 38px;
	background-color: white;
	border:1px solid gray;
}

div >a{
	position: relative;
	left: 8px;
	top: 8px;
}

a{
	display: inline-block;
	width: 17px;
	height: 20px;
	border: 1px solid #e0e1e2;
	text-decoration : none;
	text-align: center;
	color: #2052a3;
	font: 8px/20px "宋体";
}

.PageButton{
	width: 64px;
	height: 20px;
}

a:hover, .now{
	background: #1f3a87;
	color: white;
}