#all{
	width: 344px;
	height: 389px;
	background:url(../img/background.gif);
}

#content{
	width: 244px;
	height: 289px;
	position: relative;
	left: 50px;
	top: 50px;
	background: white 50px;
}

#content1{
	width: 244px;
	height: 49px;
	border-bottom: 1px solid #d6d6d6;
	background: url(../img/1.gif) no-repeat 21px 17px;
}

#content2{
	width: 244px;
	height: 46px;
	border-bottom: 1px solid #d6d6d6;
	background: url(../img/2.gif) no-repeat 21px 16px;
}

#content3{
	width: 244px;
	height: 46px;
	border-bottom: 1px solid #d6d6d6;
	border-left: 2px solid #cc6836;
	background: url(../img/3.gif) no-repeat 19px 15px;
}

#content4{
	width: 244px;
	height: 46px;
	border-bottom: 1px solid #d6d6d6;
	background: url(../img/4.gif) no-repeat 19px 15px;
}

#content5{
	width: 244px;
	height: 46px;
	border-bottom: 1px solid #d6d6d6;
	background: url(../img/5.gif) no-repeat 19px 15px;
}

#content6{
	width: 244px;
	height: 51px;
	background: url(../img/6.gif) no-repeat 19px 15px;
}