ul, li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul{
	width: 620px;
}

li{
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid black;
	font-size: 30px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
}

button{
	display: block;
}